#app-grid {
    layout: grid;
    grid-size: 2;  /* two columns */
    grid-columns: 1fr;
    grid-rows: 1fr;
}

#left-pane {
    height: 100%;
    layout: grid;
    grid-size: 1;
    grid-columns: 1fr;
    grid-rows: 93% 7%;
    background: $panel;
    border: green;
}

#cmd-output-container {
    background: $boost;
}

#cmd-input-container {
    background: $boost;
    border: solid green;
}


#cmd-bar {
    content-align: center middle;
}

#cmd-label-text {
    width: 1fr;
    height: 100%;
    content-align: center middle;
}

#cmd-input-text {
    width: 40fr;
}

#right-pane {
    width: 100%;
    height: 100%;
    row-span: 2;
    background: $panel;
    border: green;
}